<%- include('../layout/header') %>

<body>

	<div class="page-wrapper">
		<div class="background" style="background-image: url(/public/assets/images/baner/peakpx.jpg);">
			<header class="header">
	            <div class="header-top">
	                <div class="header-left">
	                    <div class="header-dropdown">
	                        <a href="#">Usd</a>
	                        <div class="header-menu">
	                            <ul>
	                                <li><a href="#">Eur</a></li>
	                                <li><a href="#">Usd</a></li>
	                            </ul>
	                        </div><!-- End .header-menu -->
	                    </div><!-- End .header-dropdown -->

	                    <div class="header-dropdown">
	                        <a href="#">Eng</a>
	                        <div class="header-menu">
	                            <ul>
	                                <li><a href="#">English</a></li>
	                                <li><a href="#">French</a></li>
	                                <li><a href="#">Spanish</a></li>
	                            </ul>
	                        </div><!-- End .header-menu -->
	                    </div><!-- End .header-dropdown -->
	                </div><!-- End .header-left -->

	                <div class="header-right">
	                    <ul class="top-menu">
	                        <li>
	                            <a href="#">Links</a>
	                            <ul>
	                                <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
	                                <li><a href="about.html">About Us</a></li>
	                                <li><a href="contact.html">Contact Us</a></li>
	                                <li><a href="/dashBoard" ><i class="icon-user"></i>account</a></li>
                                    
	                            </ul>
	                        </li>
	                    </ul><!-- End .top-menu -->
	                </div><!-- End .header-right -->
	            </div><!-- End .header-top -->

	            <div class="header-middle sticky-header">
	                <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

	                    <a href="index.html" class="logo">
	                        <img src="assets/images/demos/demo-24/logo.png" alt="Molla Logo" width="110" height="25">
	                    </a>
	                </div><!-- End .header-left -->

	                <div class="header-center">
	                	<nav class="main-nav">
	                        <ul class="menu sf-arrows">
	                            <li class="megamenu-container active">
	                                <a href="/" class="sf-with-ul">Home</a>    
	                            </li>
	                            <li>
	                                <a href="category.html" class="sf-with-ul">Shop</a>

	                                
	                            </li>
	                            
	                            <li>
	                                <a href="/products" class="sf-with-ul">Products</a>

	                                
	                            </li>
	                            
	                            <li>
	                                <a href="elements-list.html" class="sf-with-ul">Contact</a>

	                                
	                            </li>
	                        </ul><!-- End .menu -->
	                    </nav><!-- End .main-nav -->
	                </div>

	                <div class="header-right">
										
	                    <div class="header-search">
	                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
	                        <form action="/products" method="get">
	                            <div class="header-search-wrapper">
	                                <label for="searchedData" class="sr-only">Search</label>
	                                <input type="search" class="form-control" name="searchedData" id="searchedData" placeholder="Search in..." required>
	                            </div><!-- End .header-search-wrapper -->
	                        </form>
	                    </div><!-- End .header-search -->
	                    <div class="wishlist">
	                        <a href="wishlist.html" title="Wishlist">
	                            <i class="icon-heart-o"></i>
	                            <span class="wishlist-count">3</span>
	                        </a>
	                    </div><!-- End .compare-dropdown -->

	                    <div class="dropdown cart-dropdown">
	                        <a href="/cart" class="dropdown-toggle" role="button" data-display="static">
	                            <i class="icon-shopping-cart"></i>
	                            <span class="cart-count">2</span>
	                        </a>

	                        
	                    </div><!-- End .cart-dropdown -->
	                </div><!-- End .header-right -->
	            </div><!-- End .header-middle -->
	        </header><!-- End .header -->
	        <div class="slider">
	        	<div class="intro">
	        		<div class="title">
	        			<h3>Premium Outdoor Gear & Clothing</h3>
	        		</div>
	        		<div class="content">
	        			<h4><i>Our New Collections 2023</i></h4>
	        			<h5>Ski & Snowboard</h5>
	        		</div>
	        		<div class="action">
	        			<a href="category.html">discover now</a>
	        		</div>
	        	</div>
	        
	        </div>
		</div>
		<main class="main">
			<section class="logos">
				<div class="container">
					<hr class="mb-4">
					<div class="heading">
						<p class="heading-cat">trending brands</p>
					</div>
					<div class="owl-carousel mb-5 owl-simple" data-toggle="owl" 
                    data-owl-options='{
                        "nav": true, 
                        "dots": false,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            }
                        }
                    }'>
	                    <a href="#" class="brand">
	                        <img src="assets/images/demos/demo-24/brands/1.png" alt="Brand Name">
	                    </a>

	                    <a href="#" class="brand">
	                        <img src="assets/images/demos/demo-24/brands/2.png" alt="Brand Name">
	                    </a>

	                    <a href="#" class="brand">
	                        <img src="assets/images/demos/demo-24/brands/3.png" alt="Brand Name">
	                    </a>

	                    <a href="#" class="brand">
	                        <img src="assets/images/demos/demo-24/brands/4.png" alt="Brand Name">
	                    </a>

	                    <a href="#" class="brand">
	                        <img src="assets/images/demos/demo-24/brands/5.png" alt="Brand Name">
	                    </a>

	                    <a href="#" class="brand">
	                        <img src="assets/images/demos/demo-24/brands/6.png" alt="Brand Name">
	                    </a>

	                    <a href="#" class="brand">
	                        <img src="assets/images/demos/demo-24/brands/1.png" alt="Brand Name">
	                    </a>
	                </div><!-- End .owl-carousel -->
				</div>
            </section><!-- End .container -->

            <section class="banners center">
            	<div class="container">
            		<div class="row">
            			<div class="banner col-lg-4 col-md-6 col-sm-6">
	            			<img src="/public/assets/images/baner/photo-1541807084-5c52b6b3adef.jpg">
	            			<div class="intro">
	            				<div class="title">
	            					<h3>Online mega deal</h3>
	            				</div>
	            				<div class="content">
	            					<h4>Camping Gear<br>& Accessories</h4>
	            				</div>
	            				<div class="action">
	            					<a href="category.html">Shop Now</a>
	            				</div>
	            			</div>
	            		</div>

								

	            	


									<div class="banner col-lg-4 col-md-6 col-sm-6">
	            			<img src="/public/assets/images/baner/photo-1576103200868-2dd3eec3f333.webp">
	            			<div class="intro">
	            				<div class="title">
	            					<h3>Online mega deal</h3>
	            				</div>
	            				<div class="content">
	            					<h4>Camping Gear<br>& Accessories</h4>
	            				</div>
	            				<div class="action">
	            					<a href="category.html">Shop Now</a>
	            				</div>
	            			</div>
	            		</div>


									<div class="banner col-lg-4  col-md-6 col-sm-6">
	            			
										<img src="/public/assets/images/baner/premium_photo-1676998930828-cabd06cb61c5.webp">
	            			<div class="intro">
	            				<div class="title">
	            					<h3>Lightning Deals</h3>
	            				</div>
	            				<div class="content">
	            					<h4>Sports &<br>Outdoors</h4>
	            				</div>
	            				<div class="action">
	            					<a href="category.html">Shop Now</a>
	            				</div>
	            			</div>
	            		</div>


            		</div>
            	</div>
            </section>

            <section class="best-sellers">

							
								<div class="container">
									<hr class="mb-4">
									<div class="heading">
										<p class="heading-cat" style="color: black;;">Categories</p>
									</div>
									<div class="owl-carousel mb-5 owl-simple" data-toggle="owl" 
														data-owl-options='{
																"nav": true, 
																"dots": false,
																"margin": 30,
																"loop": false,
																"responsive": {
																		"0": {
																				"items":2
																		},
																		"420": {
																				"items":3
																		},
																		"600": {
																				"items":4
																		},
																		"900": {
																				"items":5
																		},
																		"1024": {
																				"items":6
																		}
																}
														}'>

														<% category.map((item)=>{ %>

															<div class="brand flex-column">

															
															<a href="#" class="">
																	<img src="/public/images/<%=item.image%>" alt="Brand Name" ></a>
																	<a href="">
																		<p><%=item.category%></p>
																	</a>
																	
														</div>
															
															<%	}) %>
															
													</div><!-- End .owl-carousel -->
								</div>
										

              

            	<div class="container">

            		<div class="heading">
	            		<p class="heading-cat">favourite from every category</p>
	            		<h3 class="heading-title">Best Sellers</h3>
	            	</div>

                    
		            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow text-center" data-toggle="owl" 
                    data-owl-options='{
                        "nav": true, 
                        "dots": false,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "768": {
                            	"items":3
                            },
                            "992": {
                                "items":3
                            },
                            "1200": {
                            	"items":4
                            }
                        }
                    }'>

                    <% product.forEach((data) => { %>
											
	                    <div class="product product-10 text-center">
                            <figure class="product-media">
                                <a href="/ProductDetails?id=<%=data._id %>">
                                    <img src="/public/images/<%=data.productImages[0]%>" alt="Product image" class="product-image">
                                    <img src="/public/images/<%=data.productImages[1]%>" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
															<% if(data.quantity <= 0){ %>
																<p style="color:red;">out of stock</p>
														<%	} else { %>
															<div class="product-action">
																<a href="/cart?id=<%= data._id %>" class="btn-cart"><span>add to cart</span></a>
																<a href="#" class="btn-product-icon btn-wishlist"><span>Add to Wishlist</span></a>
														</div><!-- End .product-action -->

													<%	} %>
                               
                            	<div class="product-intro">
                                    <h3 class="product-title">
                                    	<a href="product.html"><%= data.name %></a>
                                    </h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <%= data.discountPrice %>
                                    </div><!-- End .product-price -->
                            	</div>
                            	<div class="product-detail">
                                    <div class="ratings-container">
		                                <div class="ratings">
		                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
		                                </div><!-- End .ratings -->
		                                <span class="ratings-text">( 6 Reviews )</span>
		                            </div><!-- End .rating-container -->
                                    
                            	</div>
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->



                        <% }) %>
                        
	                </div>
            	</div>

            </section>

            <!-- <section class="banners stretch mt-2">

            	<div class="container">

	            <div class="row">

	            	<div class="col-lg-6 col-md-6 col-12 banner-lg">
	        			<img src="/public/assets/images/baner/a1.webp">
	        			<div class="intro">
	        				<div class="title">
	        					<h3><i>Trending</i></h3>
	        				</div>
	        				<div class="content">
	        					<h4>Camping & Hiking</h4>
	        					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>Donec odio. Quisque volutpat mattis eros.</p>
	        				</div>
	        				<div class="action">
	        					<a href="category.html">Discover Now</a>
	        				</div>
	        			</div>
	        		</div>

							<div class="col-lg-6 col-md-6 col-12 banner-lg">
	        			<img src="/public/assets/images/baner/photo-1530893609608-32a9af3aa95cgggggg.webp">
	        			<div class="intro">
	        				<div class="title">
	        					<h3><i>Trending</i></h3>
	        				</div>
	        				<div class="content">
	        					<h4>Camping & Hiking</h4>
	        					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>Donec odio. Quisque volutpat mattis eros.</p>
	        				</div>
	        				<div class="action">
	        					<a href="category.html">Discover Now</a>
	        				</div>
	        			</div>
	        		</div>


	            </div>
	            </div>
            </section> -->

						
						
					


							
                

								
							

							
						

            <section class="featured-products">
            	<div class="container">
            		<div class="heading">
	            		<p class="heading-cat">Featured Products </p>
	            		<h3 class="heading-title">Featured Products</h3>
	            	</div>
	            	<div class="row">
	            		<div class="col-lg-7 col-md-7 products">
                            <% product.forEach((data) => { %>
	            			<div class="col-6">
                                
	            				<div class="product product-10 text-center">
		                            <figure class="product-media">
		                                <a href="/ProductDetails?id=<%=data._id %>">
		                                    <img src="/public/images/<%=data.productImages[0]%>" alt="Product image" class="product-image">
		                                    <img src="/public/images/<%=data.productImages[1]%>" alt="Product image" class="product-image-hover">
		                                </a>

		                                <div class="product-action-vertical">
                                    		<a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
		                                </div><!-- End .product-action-vertical -->
		                            </figure><!-- End .product-media -->

		                            <div class="product-body">

		                                <div class="product-action">
		                                    <a href="/cart?id=<%= data._id %>" class="btn-cart"><span>add to cart</span></a>
		                                    <a href="#" class="btn-product-icon btn-wishlist"><span>Add to Wishlist</span></a>
		                                </div><!-- End .product-action -->
		                            	<div class="product-intro">
		                                    <h3 class="product-title">
		                                    	<a href="/productDetails"><%=data.name%></a>
		                                    </h3><!-- End .product-title -->
		                                    <div class="product-price">
		                                        <%=data.discountPrice%>
		                                    </div><!-- End .product-price -->
		                            	</div>
		                            	<div class="product-detail">
		                                    <div class="ratings-container">
				                                <div class="ratings">
				                                    <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
				                                </div><!-- End .ratings -->
				                                <span class="ratings-text">( 3 Reviews )</span>
				                            </div><!-- End .rating-container -->
		                                    <!-- <div class="product-nav product-nav-dots">
		                                        <a href="#" class="active" style="background: #34529d;"><span class="sr-only">Color name</span></a>
		                                        <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
		                                    </div>End .product-nav -->  
		                            	</div>
		                            </div><!-- End .product-body -->
		                        </div><!-- End .product -->
	            			</div>

		            		<% }) %>
	            		</div>
	            		<div class="col-lg-5 col-md-5 col-sm-8 col-12">
	            			<div class="product product-10 product-lg text-center">
	                            <figure class="product-media">
	                            	<span class="product-label label-deal">deal of the day</span>
	                                <a href="product.html">
	                                    <img src="/public/assets/images/baner/photo-1522252234503-e356532cafd5.webp" alt="Product image" class="product-image">
	                                </a>

	                                <div class="product-action-vertical">
                                    		<a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
	                                </div><!-- End .product-action-vertical -->
	                            </figure><!-- End .product-media -->
	                            <div class="deal">
                                	<div class="deal-countdown offer-countdown" data-until="+11d"></div><!-- End .deal-countdown -->
	                            </div>
                                
	                            <div class="product-body">

	                            	<div class="product-intro">
	                                    <h3 class="product-title">
	                                    	<a href="product.html">Troy Lee Designs A1 MIPS Bike Helmet</a>
	                                    </h3><!-- End .product-title -->
	                                    <div class="product-price">
	                                        $139.00
	                                    </div><!-- End .product-price -->
	                            	</div>
	                            	<div class="product-detail">
	                                    <div class="ratings-container">
			                                <div class="ratings">
			                                    <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
			                                </div><!-- End .ratings -->
			                                <span class="ratings-text">( 3 Reviews )</span>
			                            </div><!-- End .rating-container -->
	                                    <div class="product-nav product-nav-dots">
	                                        <a href="#" class="active" style="background: #666666;"><span class="sr-only">Color name</span></a>
	                                        <a href="#" style="background: #cc6666;"><span class="sr-only">Color name</span></a>
	                                    </div><!-- End .product-nav -->
	                            	</div>
                                    <div class="product-action">
                                        <a href="#" class="btn-cart"><span>add to cart</span></a>
                                        <a href="#" class="btn-product-icon btn-wishlist"><span>Add to Wishlist</span></a>
                                    </div><!-- End .product-action -->
	                            </div><!-- End .product-body -->
	                        </div><!-- End .product -->
	            		</div>
	            	</div>
	            </div>
            </section>
            <section class="video-banner">
            	<img src="/public/assets/images/baner/macbook_air_m1__dxctrdvvxm4i_large.webp">

            	<div class="intro video">
            		<div class="title">
            			<h3><i>Spring / Summer</i></h3>
            		</div>
            		<div class="content">
            			<h4>New & Stylish<br>Collection 2019</h4>
            		</div>
            		<div class="action">
            			<a href="https://www.youtube.com/watch?v=YbJOTdZBX1g" class="btn-iframe"><i class="icon-play"></i></a>
            		</div>
            	</div>
            </section>

            <section class="subscribe">
            	<div class="container">
            		<div class="heading">
	            		<p class="heading-cat">Get The Latest News & Deals</p>
	            		<h3 class="heading-title">Stay In The Know</h3>
	            	</div>
            		<div class="col-lg-6 subscribe-form">
            			<form action="#">
                            <div class="input-group">
                                <input type="email" placeholder="Enter your Email Address" aria-label="Email Adress" required="">
                                <div class="input-group-append">
                                    <button class="btn btn-subscribe" type="submit"><span>Subscribe</span></button>
                                </div><!-- .End .input-group-append -->
                            </div><!-- .End .input-group -->
                        </form>
            		</div>
            	</div>
            </section>

            

          
		</main>

        

        <%- include('../layout/footer') %>