
        <%- include('../layout/pagesHeader') %>


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				

                                <form action="" method="POST" id="productForm">
                                    

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
                                                
                                                <option value="low-to-high">Low to high</option>
                                                <option value="high-to-low">High to low</option>
                                            </select>
                                            
										</div>
                                       <div> <button class="btn btn-login m-2 p-2" type="submit" >sort ></button>    </div>
                					</div><!-- End .toolbox-sort -->
                					
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                                <div class="products mb-3" id="products-list">

                                    <% products.map((item)=>{ %>
                                    
                                    <div class="product product-list">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">
                                                <figure class="product-media">
                                                    <a href="/ProductDetails?id=<%=item._id %>">
                                                        <img src="/public/images/<%=item.productImages[0]%>" alt="Product image" class="product-image">
                                                    </a>
                                                </figure><!-- End .product-media -->
                                            </div><!-- End .col-sm-6 col-lg-3 -->

                                            <div class="col-6 col-lg-3 order-lg-last">
                                                <div class="product-list-action mb-0">
                                                    <div class="product-price">
                                                    ₹<%= item.discountPrice%>
                                                   
                                                    </div><!-- End .product-price -->
                                                    <% if (item.offer && item.offer > 0 && item.offer !== 'undefined') { %>
                                                        <div class="m-0">
                                                                <span><%= item.offer %>% off</span>
                                                        </div>
                                                <% } %>
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 0 Reviews )</span>

                                                    </div><!-- End .rating-container -->
                                                  
                                                    <div class="product-action">
                                                         
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                        <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                                                    </div><!-- End .product-action -->
                                                    <% if(item.quantity <= 0){ %>
                                                        <p style="color:red;">out of stock</p>
                                                        <%	} else { %>
                                                    <a href="/cart?id=<%= item._id %>" class="btn-product btn-cart"><span>add to cart</span></a>
                                                    <%	} %>
                                                </div><!-- End .product-list-action -->
                                                
                                            </div><!-- End .col-sm-6 col-lg-3 -->

                                            <div class="col-lg-6">
                                                <div class="product-body product-action-inner">
                                                    <a href="" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                                    <div class="product-cat">
                                                        <a href="#"></a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html"><%=item.name%></a></h3><!-- End .product-title -->

                                                    <div class="product-content">
                                                        <p><%= item.name%> </p>
                                                        <p><%= item.processor%></p>

                                                    </div><!-- End .product-content -->
                                                    
                                                    <div class="product-nav product-nav-thumbs">
                                                        <a href="#" class="active">
                                                            <img src="/public/images/<%=item.productImages[0]%>" alt="product desc">
                                                        </a>
                                                        <a href="#">
                                                            <img src="/public/images/<%=item.productImages[1]%>" alt="product desc">
                                                        </a>
                                                    </div><!-- End .product-nav -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .col-lg-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .product -->

                                

                                    <%  }) %>

                                    

                                    
                                </div><!-- End .products -->



                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                    <% if (currentPage > 1) { %>
                                        <li class="page-item">
                                        <a class="page-link page-link-prev" href="/products?page=<%= currentPage - 1 %>" aria-label="Previous">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                        </a>
                                        </li>
                                    <% } else { %>
                                        <li class="page-item disabled">
                                        <span class="page-link page-link-prev" aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                        </span>
                                        </li>
                                    <% } %>
                                
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="/products?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                                
                                    <li class="page-item-total">of <%= totalPages %></li>
                                
                                    <% if (currentPage < totalPages) { %>
                                        <li class="page-item">
                                        <a class="page-link page-link-next" href="/products?page=<%= currentPage + 1 %>" aria-label="Next">
                                            Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                        </a>
                                        </li>
                                    <% } else { %>
                                        <li class="page-item disabled">
                                        <span class="page-link page-link-next" aria-disabled="true">
                                            Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                        </span>
                                        </li>
                                    <% } %>
                                    </ul>
                                </nav>


                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="/products" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->
                                   
                                    
                                        <div class="collapse show" id="widget-4">
                                            <div class="widget-body">
                                                <div class="filter-items">


                                                  

                                                        <% categories.map((category, index) => { %>
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="cat-<%= index + 1 %>" name="categories" value="<%= category.category %>">
                                                            <label class="custom-control-label" for="cat-<%= index + 1 %>"><%= category.category %></label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->
                                                    <% }) %>
                                                                                                    
      
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->

                                    

        						</div><!-- End .widget -->

        						
        						
        						<!-- //////////////////// next checkbox here -->

        						<div class="widget widget-collapsible">
    								

                                    

                                <button class="btn btn-outline-primary-2" type="submit">Filter ></button>
                                </form>
                                
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->



        <%- include('../layout/pagesFooter') %>