<%- include('../partials/header')%>
    <%- include('../partials/sidebar')%>



        <div class="page-body">
            <!-- New Product Add Start -->
            <form action="/admin/addProduct/" method="post" enctype="multipart/form-data">

                <div class="container-fluid">
                    <div class="row theme-form theme-form-2 mega-form">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Information</h5>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Product
                                                    Name</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Product Name"
                                                        name="ProductName">
                                                </div>
                                            </div>



                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Category</label>
                                                <div class="col-sm-9">
                                                    <select class="js-example-basic-single w-100" name="category">
                                                        <option disabled>Category Menu</option>

                                                        <% categories.map((value)=>{ %>
                                                            <option value="<%=value.category%>">
                                                                <%=value.category %>
                                                            </option>
                                                            <% })%>

                                                    </select>
                                                </div>
                                            </div>





                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Brand</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Brand Name"
                                                        name="brandName">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text"
                                                        placeholder=" Product Quantity" name="quantity">
                                                </div>
                                            </div>






                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Featured
                                                    Product</label>
                                                <div class="col-sm-9">
                                                    <select class="js-example-basic-single w-100" name="featurdStatus"
                                                        for="featuredProduct">

                                                        <option value="false">No</option>
                                                        <option value="true">Yes</option>


                                                    </select>
                                                </div>
                                            </div>



                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Specifiction</h5>
                                            </div>



                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Model</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Product ram"
                                                        name="modelName">
                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Ram</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Product ram"
                                                        name="ram">
                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Storage Space</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Product Rom "
                                                        name="rom">
                                                </div>
                                            </div>



                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Processor</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text"
                                                        placeholder="Product Processor" name="processor">
                                                </div>
                                            </div>



                                        </div>
                                    </div>








                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Description</h5>
                                            </div>
                                            <div class="row theme-form theme-form-2 mega-form">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <label class="form-label-title col-sm-3 mb-0 ">Product
                                                            Description</label>
                                                            
                                                        <div class="col-sm-9">
                                                            <!-- <div> <input type="text" id="editor"> </div> -->
                                                            <textarea class="form-control" name="description" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Images</h5>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Images</label>

                                                <div class="col-sm-9">
                                                    <input class="form-control form-choose" type="file" id="formFile"
                                                        name="productImages" multiple accept="image/jpeg, image/png">
                                                </div>
                                                <span>(upto - 4 images)</span>
                                                <div id="errorMessage" style="display: none; color: red;"></div>
                                            </div>


                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-header-2">
                                                        <h5>Product Price</h5>
                                                    </div>


                                                    <div class="mb-4 row align-items-center">
                                                        <label class="col-sm-3 form-label-title">price</label>
                                                        <div class="col-sm-9">
                                                            <input class="form-control" type="number" placeholder="0"
                                                                name="price">
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 row align-items-center">
                                                        <label class="col-sm-3 form-label-title">Discount offer</label>
                                                        <div class="col-sm-9">
                                                            <input class="form-control" type="number" placeholder="0"
                                                                name="discountPercentage">
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>



                                            <div class="col-4 col-3 ">
                                                <button type="submit" class="btn btn-primary w-70  h-100 ">Add
                                                    Product</button>
                                            </div>

                                            <br>



                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
            </form>
        </div>
        <!-- New Product Add End -->



        <script>

            document.getElementById('formFile').addEventListener('change', function () {
                const input = this;
                const allowedTypes = ['image/jpeg', 'image/png'];
                const errorMessage = document.getElementById('errorMessage');

                for (let i = 0; i < input.files.length; i++) {
                    if (!allowedTypes.includes(input.files[i].type)) {
                        errorMessage.textContent = 'Please select only JPEG or PNG images.';
                        errorMessage.style.display = 'block';
                        input.value = ''; // Clear the input to remove the invalid files
                        return;
                    }
                }

                // If all files are valid, hide the error message
                errorMessage.style.display = 'none';
            });


        </script>

        <%- include('../partials/footer')%>