<%- include('../partials/header')%>
    <%- include('../partials/sidebar')%>


        <!-- Container-fluid starts-->
        <div class="page-body">
            <!-- All User Table Start -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <h5>All Category</h5>
                                    <form class="d-inline-flex">
                                        <a href="/admin/addCategory" class="align-items-center btn btn-theme d-flex">
                                            <i data-feather="plus-square"></i>Add New
                                        </a>
                                    </form>
                                </div>

                                <div class="table-responsive category-table">
                                    <div>
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Product Image</th>
                                                    <th>Category Name</th>
                                                    <th>offer</th>
                                                    <th>Status</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <% categories.forEach((value)=>{ %>

                                                    <tr>
                                                        <td>
                                                            <div class="table-image">
                                                                <img src="/images/<%= value.image %>" class="img-fluid"
                                                                    alt="">

                                                            </div>
                                                        </td>

                                                        <td>
                                                            <%= value.category %>
                                                        </td>

                                                        <% if (value.discountPercentage> 0) { %>
                                                            <td class="td-price">
                                                                <%= value.discountPercentage %>% off
                                                            </td>
                                                            <% } else { %>
                                                                <td class="td-price">
                                                                    <%= value.discountPercentage %>
                                                                </td>
                                                                <% } %>






                                                                    <% if(value.listed){ %>
                                                                        <td class="status-danger">
                                                                            <!-- <span><%= value.list %></span> -->
                                                                            <p onclick="productList('<%=value._id%>')">
                                                                                <span>Unlist</span></p>

                                                                        </td>

                                                                        <%} else {%>

                                                                            <td class="status-primary ">
                                                                                <!-- <span><%= value.list %></span> -->
                                                                                <p style="text-decoration: underline;"
                                                                                    onclick="productList('<%=value._id%>')">
                                                                                    list</p>


                                                                            </td>

                                                                            <% } %>


                                                                                <td>
                                                                                    <ul>


                                                                                        <li>
                                                                                            <a
                                                                                                href="/admin/editCategory?id=<%= value._id.toString()%>">
                                                                                                <i
                                                                                                    class="ri-pencil-line"></i>
                                                                                            </a>
                                                                                        </li>


                                                                                    </ul>
                                                                                </td>
                                                    </tr>

                                                    <% }) %>

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- All User Table Ends-->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                async function productList(id) {

                    const result = await Swal.fire({
                        title: "Are you sure?",
                        text: "This action cannot be reversed!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, proceed!"
                    });

                    if (result.isConfirmed) {
                        try {

                            const response = await fetch(`/admin/listingCat?id=${id}`, {
                                method: 'GET',
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            });

                            if (response.ok) {
                                // Display success message using SweetAlert
                                await Swal.fire({
                                    title: "Success!",
                                    text: "category listed/unlisted successfully.",
                                    icon: "success"
                                });

                                // Refresh the page after successful operation
                                window.location.href = "/admin/category"
                            } else {
                                // Handle error if needed
                                await Swal.fire({
                                    title: "Error!",
                                    text: "Failed to block/unblock user.",
                                    icon: "error"
                                });
                            }
                        } catch (error) {
                            console.log(error);
                            await Swal.fire({
                                title: "Error!",
                                text: "An error occurred.",
                                icon: "error"
                            });
                        }
                    }
                }
            </script>


            <%- include('../partials/footer')%>