<%- include('../partials/header')%>
    <%- include('../partials/sidebar')%>


        <div class="page-body">
            <!-- New Product Add Start -->
            <form id="editProductForm" action="/admin/editProduct/<%= data._id%>" method="post"
                enctype="multipart/form-data">

                <div class="container-fluid">
                    <div class="row theme-form theme-form-2 mega-form">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Information</h5>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Product Name</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Product Name"
                                                        name="ProductName" value="<%= data.name%>" id="productName"
                                                        oninput="clearErrorMessage('productNameError')">
                                                    <span id="productNameError" class="text-danger"></span>
                                                    <!-- Error message element -->
                                                </div>
                                            </div>




                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Category</label>
                                                <div class="col-sm-9">
                                                    <select class="js-example-basic-single w-100" name="category">
                                                        <option disabled>Category Menu</option>
                                                        <% cat.forEach((value)=> { %>
                                                            <option value="<%= value.category %>">
                                                                <%= value.category %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                            </div>





                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Brand</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Brand Name"
                                                        name="brandName" id="brandNameInput" value="<%= data.brand%>">
                                                    <span id="brandNameError" class="text-danger"></span>
                                                    <!-- Error message element -->
                                                </div>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text"
                                                        placeholder="Product Quantity" name="quantity"
                                                        id="quantityInput" value="<%=data.quantity%>">
                                                    <span id="quantityError" class="text-danger"></span>
                                                    <!-- Error message element -->
                                                </div>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Featured
                                                    Product</label>
                                                <div class="col-sm-9">
                                                    <select class="js-example-basic-single w-100" name="featurdStatus"
                                                        for="featuredProduct">

                                                        <option value="false">No</option>
                                                        <option value="true">Yes</option>


                                                    </select>
                                                </div>
                                            </div>



                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Specifiction</h5>
                                            </div>



                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Model</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Product ram"
                                                        name="Model" value="<%=data.model%>">
                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Ram</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Product ram"
                                                        name="ram" value="<%=data.ram%>">
                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Storage Space</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Product Rom "
                                                        name="rom" value="<%=data.rom%>">
                                                </div>
                                            </div>



                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Processor</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text"
                                                        placeholder="Product Processor" name="processor"
                                                        value="<%=data.processor%>">
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Description</h5>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">description</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text" placeholder="Write here.."
                                                        name="description" value="<%=data.description%>">
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Images</h5>
                                            </div>


                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Images</label>
                                                <div class="col-sm-9">
                                                    <% data.productImages.forEach((image, index)=> { %>
                                                        <img src="/images/<%= image %>" class="img-fluid"
                                                            style="width: 20%;">
                                                        <button class="btn-close btn-sm  horizontal-button"
                                                            onclick="deleteImage('<%= image %>', '<%= index %>' , '<%= data._id%>')"></button>

                                                        <% }) %>
                                                            <input class="form-control form-choose" type="file"
                                                                id="formFile" name="productImages" multiple>
                                                </div>
                                                <span>(up to 4 images)</span>
                                            </div>

                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-header-2">
                                                        <h5>Product Price</h5>
                                                    </div>


                                                    <div class="mb-4 row align-items-center">
                                                        <label class="col-sm-3 form-label-title">Price</label>
                                                        <div class="col-sm-9">
                                                            <input class="form-control" type="number" placeholder="0"
                                                                name="price" id="price" value="<%=data.price%>">
                                                            <span id="priceError" class="text-danger"></span>
                                                            <!-- Error message element -->
                                                        </div>
                                                    </div>


                                                    <div class="mb-4 row align-items-center">
                                                        <label class="col-sm-3 form-label-title">Discount offer</label>
                                                        <div class="col-sm-9">
                                                            <input class="form-control" type="number" placeholder="0"
                                                                name="discountPercentage" id="discountPercentage"
                                                                value="<%=data.offer%>">
                                                            <span id="DiscountError" class="text-danger"></span>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="col-4 col-3 ">
                                                <button type="submit" class="btn btn-primary w-70  h-100 ">Save
                                                    Changes</button>
                                            </div>

                                            <br>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
            </form>
        </div>
        <script>
            // Get the form element
            const form = document.getElementById('editProductForm');
        
            // Add event listener for form submission
            form.addEventListener('submit', function(event) {
                // Prevent the default form submission
                event.preventDefault();
        
                // Clear all existing error messages
                clearErrorMessages();
        
                const quantityValue = document.getElementById('quantityInput').value.trim();
                const quantityError = document.getElementById('quantityError');
                const productName = document.getElementById('productName').value.trim();
                const productNameError = document.getElementById('productNameError');
                const brandNameValue = document.getElementById('brandNameInput').value.trim();
                const brandNameError = document.getElementById('brandNameError');
                const discountValue = document.getElementById('discountPercentage').value.trim();
                const discountError = document.getElementById('discountError');
        
                let hasErrors = false; // Flag to track if any errors are found
                const stringRegex = /^[a-zA-Z\s]+$/; // Regular expression for strings

        
                // Get the price input value
                const priceInput = document.getElementById('price');
                const price = parseFloat(priceInput.value); // Parse the input value to a floating-point number
        
                // Check if the price is negative
                if (price < 0) {
                    const priceError = document.getElementById('priceError');
                    priceError.textContent = 'Price cannot be negative';
                    hasErrors = true;
                }
        
                if (productName === '') {
                    productNameError.textContent = 'Product Name is required';
                    hasErrors = true;
                }
        
                if (quantityValue === '' || isNaN(quantityValue) || parseInt(quantityValue) <= 0) {
                    quantityError.textContent = 'Quantity must be a number greater than zero';
                    hasErrors = true;
                }
        
                if (brandNameValue === '' || !stringRegex.test(brandNameValue)) {
                    brandNameError.textContent = 'Brand Name is required and should only contain letters';
                    hasErrors = true;
                }


                

                if (discountValue !== '' && (isNaN(discountValue) || discountValue < 0 || discountValue > 100)) {
                    discountError.textContent = 'Discount must be a number between 0 and 100';
                    hasErrors = true;
                }
                // If errors are found, prevent form submission
                if (hasErrors) {
                    return false;
                }
               
//                 

        
                // If no errors, submit the form
                form.submit();
            });
        
            // Function to clear all error messages
            function clearErrorMessages() {
                const errorElements = document.querySelectorAll('.text-danger');
                errorElements.forEach(element => {
                    element.textContent = '';
                });
            }
        </script>
        
        



        <script>

            async function deleteImage(image, index, productId) {
                try {
                    const response = await fetch('/admin/deleteImage', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ image, index, productId })
                    });

                    if (response.ok) {
                        const imageElement = document.querySelector(`img[src="/images/${image}"]`);

                        if (imageElement) {
                            imageElement.remove(); // Remove the image element from the DOM

                            window.location.reload();
                        }
                    } else {
                        console.error('Failed to delete the image');
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            }

        </script>


        <!-- New Product Add End -->


        <%- include('../partials/footer')%>