<%- include('../partials/header')%>
<%- include('../partials/sidebar')%>

            <div class="page-body">

                <!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Edit Category Information</h5>
                                            </div>           
                                            
                                            <form class="theme-form theme-form-2 mega-form" action="/admin/editCategory?id=<%= value._id %>" method="post">
                                               
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"
                                                            placeholder="Category Name" name="categoryname" value="<%= value.category %>">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title" >Category
                                                        Image</label>
                                                    <div class="form-group col-sm-9">
                                                        <img src="/images/<%= value.image %>" class="img-fluid  " style="width: 100%;" >
                                                       
                                                        <div class="dropzone-wrapper">
                                                            
                                                            <div class="dropzone-desc">
                                                                                                                               
                                                                <i class="ri-upload-2-line"></i>
                                                                 
                                                                <p>Choose an image file or drag it here.</p>
                                                                

                                                            </div>
                                                            <input type="file" class="dropzone" name="image" >

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                  <label class="form-label-title col-sm-3 mb-0">description</label>
                                                  <div class="col-sm-9">
                                                      <input class="form-control" type="text" name="description"
                                                          placeholder="Write Here...." value="<%= value.description %>">
                                                  </div>
                                              </div>

                                              <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 form-label-title">Discount offer</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="number" placeholder="0" value="<%= value.discountPercentage %>" name="discountPercentage">
                                                </div>
                                            </div>

                                              <div class="col-4">
                                                <button type="submit" class="btn btn-primary w-70  h-100 "> 
                                                   Edit Category</button>
                                            </div>
                                        
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->

       
  <%- include('../partials/footer')%>