<%- include('../partials/header')%>
    <%- include('../partials/sidebar')%>

        <!-- Create Coupon Table start -->
        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title-header option-title">
                                            <h5>Edit Coupon</h5>
                                        </div>

                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                                <form id="couponForm" 
                                                    class="theme-form theme-form-2 mega-form" method="post"
                                                    action="/admin/editCoupon?couponId=<%= coupon._id%>">


                                                    <div class="row">
                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="form-label-title col-lg-2 col-md-3 mb-0">Coupon
                                                                Title</label>
                                                            <div class="col-md-9 col-lg-10">
                                                                <input class="form-control" type="text" name="name"
                                                                    id="couponTitle"
                                                                    oninput="clearErrorMessage('couponTitleError')"
                                                                    value="<%=coupon.name%>">
                                                                <span id="couponTitleError" class="text-danger"></span>
                                                                <!-- Error message placeholder -->
                                                            </div>
                                                        </div>


                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-lg-2 col-md-3 col-form-label form-label-title">Coupon
                                                                Code</label>

                                                            <div class="col-md-9 col-lg-10">
                                                                <input class="form-control" type="number" name="code"
                                                                    id="couponCode"
                                                                    oninput="clearErrorMessage('couponCodeError')"
                                                                    value="<%=coupon.Couponcode%>">
                                                                <span id="couponCodeError" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-lg-2 col-md-3 col-form-label form-label-title">Discount
                                                                Amount</label>

                                                            <div class="col-md-9 col-lg-10">
                                                                <input class="form-control" type="number"
                                                                    name="discountAmount" id="discountAmount"
                                                                    oninput="clearErrorMessage('discountAmountError')"
                                                                    value="<%=coupon.discount%>">
                                                                <span id="discountAmountError"
                                                                    class="text-danger"></span>
                                                            </div>
                                                        </div>



                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-lg-2 col-md-3 col-form-label form-label-title">Expire
                                                                Date</label>


                                                            <div class="col-md-9 col-lg-10">
                                                                <input class="form-control" type="date"
                                                                    name="expireDate"
                                                                    oninput="clearErrorMessage('expireDateError')"
                                                                    value="<%=coupon.expiry%>">
                                                                <span id="expireDateError" class="text-danger"></span>
                                                            </div>
                                                        </div>




                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-lg-2 col-md-3 col-form-label form-label-title">Minimum
                                                                Cart Amount</label>


                                                            <div class="col-md-9 col-lg-10">
                                                                <input class="form-control" type="number"
                                                                    name="minimumCartTotal"
                                                                    oninput="clearErrorMessage('minimumCartTotalError')"
                                                                    value="<%=coupon.minimumCartTotal%>">
                                                                <span id="minimumCartTotalError"
                                                                    class="text-danger"></span>
                                                            </div>
                                                        </div>


                                                        <button type="submit" onclick="validateForm()" class="btn btn-primary w-40  h-100 "
                                                            fdprocessedid="9x9s8g">Add
                                                            Coupon</button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Create Coupon Table End -->

            <script>


                function clearErrorMessage(inputId) {

                    const errorElement = document.getElementById(inputId);
                    errorElement.style.display = 'none'; // Hide error message when input is provided
                }


                function validateCouponTitle() {

                    const couponTitle = document.getElementById('couponTitle').value.trim();
                    const couponTitleError = document.getElementById('couponTitleError');

                    if (couponTitle === '') {
                        couponTitleError.textContent = 'Coupon title is required'; // Display error message
                        document.getElementById('couponTitle').classList.add('is-invalid'); // Apply validation style
                        return false;
                    } else {
                        couponTitleError.textContent = ''; // Clear error message if valid
                        document.getElementById('couponTitle').classList.remove('is-invalid'); // Remove validation style
                        return true;
                    }
                }



                function validateExpireDate() {

                    const expireDate = document.querySelector('input[name="expireDate"]').value.trim();
                    const expireDateError = document.getElementById('expireDateError');

                    if (expireDate === '') {
                        expireDateError.textContent = 'Expire Date is required';

                        return false;
                    } else {
                        expireDateError.textContent = '';

                        return true;
                    }
                }

                function validateMinimumCartAmount() {

                    const minimumCartAmount = document.querySelector('input[name="minimumCartTotal"]').value.trim();
                    const minimumCartError = document.getElementById('minimumCartTotalError');

                    if (minimumCartAmount === '' || isNaN(minimumCartAmount) || parseFloat(minimumCartAmount) <= 0) {
                        minimumCartError.textContent = 'Minimum Cart Amount is required and must be a number greater than 0';
                        document.querySelector('input[name="minimumCartTotal"]').classList.add('is-invalid');
                        return false;
                    } else {
                        minimumCartError.textContent = '';
                        document.querySelector('input[name="minimumCartTotal"]').classList.remove('is-invalid');
                        return true;
                    }
                }


                function validateCouponCode() {

                    const couponCode = document.getElementById('couponCode').value.trim();
                    const couponCodeError = document.getElementById('couponCodeError');

                    if (couponCode === '' || isNaN(couponCode)) {
                        couponCodeError.textContent = 'Coupon code is required and must be a number'; // Display error message
                        document.getElementById('couponCode').classList.add('is-invalid'); // Apply validation style
                        return false;
                    } else {
                        couponCodeError.textContent = ''; // Clear error message if valid
                        document.getElementById('couponCode').classList.remove('is-invalid'); // Remove validation style
                        return true;
                    }
                }

                function validateDiscountAmount() {

                    const discountAmount = document.getElementById('discountAmount').value.trim();
                    const discountAmountError = document.getElementById('discountAmountError');

                    if (discountAmount === '' || isNaN(discountAmount) || parseFloat(discountAmount) <= 0) {
                        discountAmountError.textContent = 'Discount is required and must be a number greater than 0'; // Display error message
                        document.getElementById('discountAmount').classList.add('is-invalid'); // Apply validation style
                        return false;
                    } else {
                        discountAmountError.textContent = ''; // Clear error message if valid
                        document.getElementById('discountAmount').classList.remove('is-invalid'); // Remove validation style
                        return true;
                    }
                }



                function validateForm() {
                    alert("knk")
                    const isCouponName = validateCouponTitle();
                    const isCouponCode = validateCouponCode();
                    const isDiscountAmount = validateDiscountAmount();
                    const isMinimumCartA3mount = validateMinimumCartAmount();
                    const isExpireDateValid = validateExpireDate();


                    if (isCouponName && isCouponCode && isDiscountAmount && isMinimumCartAmount && isExpireDateValid /* Add other field validations here if needed */) {
                        return true; // Proceed with form submission
                    } else {
                        event.preventDefault(); // Prevent form submission if validation fails
                    }
                }

            </script>

            <%- include('../partials/footer')%>