<%- include('../partials/header')%>
    <%- include('../partials/sidebar')%>

        <!-- Order section Start -->
        <div class="page-body">
            <!-- Table Start -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <h5>Order List</h5>

                                </div>
                                <div>
                                    <div class="table-responsive">
                                        <table class="table all-package order-table theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Order Code</th>
                                                    <th>Phone</th>
                                                    <th>Date</th>
                                                    <th>Payment Method</th>
                                                    <th>Delivery Status</th>
                                                    <th>Amount</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <% orderData.map((items)=>{ %>


                                                    <td>
                                                        <%= String(items._id).substring(0, 12) %>
                                                    </td>


                                                    <td>
                                                        <%= items.address.phone%>
                                                    </td>

                                                    <td>
                                                        <%= items.createdAt.toLocaleDateString()%>
                                                    </td>

                                                    <td>
                                                        <%= items.paymentMethod%>
                                                    </td>

                                                    <td class="Order-succes">
                                                        <span>
                                                            <%= items.status%>
                                                        </span>
                                                    </td>

                                                    <td>₹<%=items.grandTotal%>
                                                    </td>

                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a href="/admin/orderDetails?orderId=<%= items._id%>">
                                                                    <i class="ri-eye-line"></i>
                                                                </a>
                                                            </li>


                                                        </ul>
                                                    </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->

            <!-- orderList.ejs -->

            <!-- Your order list rendering code -->

            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <% if (currentPage> 1) { %>
                        <li class="page-item">
                            <a class="page-link page-link-prev" href="/admin/orderList?page=<%= currentPage - 1 %>"
                                aria-label="Previous">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        <% } else { %>
                            <li class="page-item disabled">
                                <span class="page-link page-link-prev" aria-disabled="true">
                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                </span>
                            </li>
                            <% } %>

                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/orderList?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>

                                        <!-- <li class="page-item-total">of <%= totalPages %></li> -->

                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item">
                                                <a class="page-link page-link-next"
                                                    href="/admin/orderList?page=<%= currentPage + 1 %>"
                                                    aria-label="Next">
                                                    Next <span aria-hidden="true"><i
                                                            class="icon-long-arrow-right"></i></span>
                                                </a>
                                            </li>
                                            <% } else { %>
                                                <li class="page-item disabled">
                                                    <span class="page-link page-link-next" aria-disabled="true">
                                                        Next <span aria-hidden="true"><i
                                                                class="icon-long-arrow-right"></i></span>
                                                    </span>
                                                </li>
                                                <% } %>
                </ul>
            </nav>





            <%- include('../partials/footer')%>