<%- include('../partials/header')%>
<%- include('../partials/sidebar')%>  

<!--  -->

  <!-- Page Body Start-->
  <div class="page-body-wrapper">

      <!-- Order section Start -->
      <div class="page-body">
          <!-- Table Start -->
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="card card-table">
                          <div class="card-body">
                              <div class="title-header option-title">
                                  <h5>Order List</h5>
                                  <a href="#" class="btn btn-solid">Download all orders</a>
                              </div>
                              <div>
                                  <div class="table-responsive">
                                      <table class="table all-package order-table theme-table" id="table_id">
                                          <thead>
                                              <tr>
                                                
                                                  <th>Order Code</th>
                                                  <th>Date</th>
                                                  <th>Payment Method</th>
                                                  <th>Delivery Status</th>
                                                  <th>Amount</th>
                                                  <th>Option</th>
                                              </tr>
                                          </thead>
                                         
                                          <tbody>
                                            <% returnedOrders.forEach((order)=>{ %>

                                              <tr data-bs-toggle="offcanvas" href="#order-details">
                                                  <!-- <td>
                                                      <a class="d-block">
                                                          <span class="order-image">
                                                              <img src="assets/images/product/1.png"
                                                                  class="img-fluid" alt="users">
                                                          </span>
                                                      </a>
                                                  </td> -->

                                                  <td><%=order._id%></td>

                                                  <td><%=order.createdAt.toLocaleDateString()%></td>

                                                  <td>Paypal</td>

                                                  <td class="order-success">
                                                      <span>Success</span>
                                                  </td>

                                                  <td>$<%=order.grandTotal%></td>

                                                  <td>
                                                      <ul>

                                                          <li>
                                                              <a href="/admin/returnOrder_Details?orderId=<%=order._id%>">
                                                                  <i class="ri-eye-line"></i>
                                                              </a>
                                                          </li>

                                                          <!-- <li>
                                                              <a href="javascript:void(0)">
                                                                  <i class="ri-pencil-line"></i>
                                                              </a>
                                                          </li> -->

                                                          <!-- <li>
                                                              <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                  data-bs-target="#exampleModalToggle">
                                                                  <i class="ri-delete-bin-line"></i>
                                                              </a>
                                                          </li> -->
                                                          <!-- <li>
                                                              <a class="btn btn-sm btn-solid text-white"
                                                                  href="">
                                                                  Tracking
                                                              </a>
                                                          </li> -->
                                                      </ul>
                                                  </td>
                                              </tr>
                                              <% }) %>
                                          </tbody>
                                        
                                      </table>
                                     
                                       
                                   
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Table End -->

          <!-- footer start-->
          <div class="container-fluid">
              <footer class="footer">
                  <div class="row">
                      <div class="col-md-12 footer-copyright text-center">
                          <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                      </div>
                  </div>
              </footer>
          </div>
      </div>
      <!-- Order section End -->
  </div>
  <!-- Page Body End-->

  <%- include('../partials/footer')%>  