<%- include('../partials/header')%>
<%- include('../partials/sidebar')%>

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>All Users</h5>
                                        <form class="d-inline-flex">
                                            <a href="add-new-user.html" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus"></i>Add New
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Users</th>
                                                    <th>Name</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>status</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>
                                          
                                            <tbody>
                                                
                                                <% datas.forEach((value)=>{ %> 
                                              
                                                
                                                <tr>
                                                    <td>
                                                        <div class="table-image">
                                                            <img src="/assetsB/images/users/avatar.jpg" class="img-fluid"
                                                                alt="">
                                                        </div>
                                                    </td>

                                             
                                                    

                                                    <td>
                                                        <div class="user-name">
                                                            <span><%=value.name%></span>
                                                           
                                                        </div>
                                                    </td>

                                                    <td><%=value.mobile%></td>

                                                  

                                                    <td><%=value.email%></td>

                                                    <td>
                                                      <% if(value.is_blocked) { %>
                                                        <a href="/admin/blockUser?id=<%= value._id.toString()%>">
                                                          <p class="text-danger ms-4">Unblock</p>
                                                        </a>
                                                        <% } else { %>
                                                          <a href="/admin/blockUser?id=<%= value._id.toString() %>">                  
                                                              <p class="text-primary ms-4">Block</p>
                                                           
                                                          </a>
                                                        <% } %>



                                                    </td>

                                                    <td>
                                                        <ul>
                                                            <!-- <li>
                                                                <a href="order-detail.html">
                                                                    <i class="ri-eye-line"></i>
                                                                </a>
                                                            </li> -->

                                                            <li>
                                                                <a href="javascript:void(0)">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <!-- <li>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModalToggle">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li> -->
                                                        </ul>
                                                    </td>
                                                </tr>

                                                
                                                </tr>
                                                <% }) %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

       
  <%- include('../partials/footer')%>