<%- include('../partials/header')%>
<%- include('../partials/sidebar')%>



            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>All Users</h5>
                                        <!--  -->
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">


                                            <thead>
                                                <tr>
                                                    <th>Users</th>
                                                    <th>Name</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>status</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>
                                          
                                            <tbody>
                                               
                                                
                                                <% datas.forEach((value)=>{ %> 
                                              
                                                
                                                <tr>
                                                    <td>
                                                        <div class="table-image">
                                                            <img src="/assetsB/images/users/avatar.jpg" class="img-fluid"
                                                                alt="">
                                                        </div>
                                                    </td>

                                             
                                                    

                                                    <td>
                                                        <div class="user-name">
                                                            <span><%=value.name%></span>
                                                           
                                                        </div>
                                                    </td>

                                                    <td><%=value.mobile%></td>

                                                  

                                                    <td><%=value.email%></td>

                                                    <td>
                                                      <% if(value.is_blocked) { %>
                                                        <a href="#">
                                                          <p class="text-danger ms-4"onclick="fetchingUserId('<%=value._id%>')">Unblock</p>
                                                        </a>
                                                        <% } else { %>
                                                          <a href="#">                  
                                                              <p class="text-primary ms-4" onclick="fetchingUserId('<%=value._id%>')"   >Block</p>
                                                           
                                                          </a>
                                                        <% } %>



                                                    </td>

                                                    <td>
                                                        <ul>
                                                          
                                                            <li>
                                                                <a href="javascript:void(0)">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                          
                                                        </ul>
                                                    </td>
                                                </tr>

                                                
                                                </tr>
                                                <% }) %>
                                                
                                            </tbody>
                                        </table>


                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                            <% if (currentPage > 1) { %>
                                                <li class="page-item">
                                                <a class="page-link page-link-prev" href="/admin/users?page=<%= currentPage - 1 %>" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                                </a>
                                                </li>
                                            <% } else { %>
                                                <li class="page-item disabled">
                                                <span class="page-link page-link-prev" aria-disabled="true">
                                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                                </span>
                                                </li>
                                            <% } %>
                                        
                                            <% for (let i = 1; i <= totalPages; i++) { %>
                                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                                <a class="page-link" href="/admin/users?page=<%= i %>"><%= i %></a>
                                                </li>
                                            <% } %>
                                        
                                            
                                        
                                            <% if (currentPage < totalPages) { %>
                                                <li class="page-item">
                                                <a class="page-link page-link-next" href="/admin/users?page=<%= currentPage + 1 %>" aria-label="Next">
                                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                                </a>
                                                </li>
                                            <% } else { %>
                                                <li class="page-item disabled">
                                                <span class="page-link page-link-next" aria-disabled="true">
                                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                                </span>
                                                </li>
                                            <% } %>
                                            </ul>
                                        </nav>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>

                    async function fetchingUserId(id) {

                        const result = await Swal.fire({
                            title: "Are you sure?",
                            text: "This action cannot be reversed!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, proceed!"
                        });

                        if (result.isConfirmed) {
                            try {
                                const response = await fetch(`/admin/blockUser?id=${id}`, {
                                    method: 'GET',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }
                                });

                                if (response.ok) {
                                    // Display success message using SweetAlert
                                    await Swal.fire({
                                        title: "Success!",
                                        text: "User blocked/unblocked successfully.",
                                        icon: "success"
                                    });

                                    // Refresh the page after successful operation
                                    window.location.reload();
                                } else {
                                    // Handle error if needed
                                    await Swal.fire({
                                        title: "Error!",
                                        text: "Failed to block/unblock user.",
                                        icon: "error"
                                    });
                                }
                            } catch (error) {
                                console.log(error);
                                await Swal.fire({
                                    title: "Error!",
                                    text: "An error occurred.",
                                    icon: "error"
                                });
                            }
                        }
                    }




                </script>
                <!-- All User Table Ends-->

       
  <%- include('../partials/footer')%>